## Extracting data from rows using loc and iloc function
#### Difference between loc and iloc is that loc finds out data by a particular value after assigning a column as index column but iloc finds out data by the default index value.

In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('Advertising.csv',index_col='sales')     #Assigning 'sales' column as the index.
df

       Unnamed: 0     TV  radio  newspaper
sales
22.1            1  230.1   37.8       69.2
10.4            2   44.5   39.3       45.1
9.3             3   17.2   45.9       69.3
18.5            4  151.5   41.3       58.5
12.9            5  180.8   10.8       58.4
...           ...    ...    ...        ...
7.6           196   38.2    3.7       13.8
9.7           197   94.2    4.9        8.1
12.8          198  177.0    9.3        6.4
25.5          199  283.6   42.0       66.2
13.4          200  232.1    8.6        8.7

[200 rows x 4 columns]

In [6]:
df.loc[9.7]            #Extracting a values using it's name.

       Unnamed: 0    TV  radio  newspaper
sales
9.7            14  97.5    7.6        7.2
9.7            25  62.3   12.6       18.3
9.7            50  66.9   11.7       36.8
9.7           130  59.6   12.0       43.1
9.7           197  94.2    4.9        8.1

In [8]:
df.loc[13.4]

       Unnamed: 0     TV  radio  newspaper
sales
13.4           68  139.3   14.5       10.2
13.4          111  225.8    8.2       56.5
13.4          200  232.1    8.6        8.7

In [40]:
df.iloc[2]             #Using iloc and getting values at index 2.

Unnamed: 0     3.0
TV            17.2
radio         45.9
newspaper     69.3
Name: 9.3, dtype: float64

In [41]:
df.iloc[[2,5]]        #Getting values at multiple indexes using iloc function.

       Unnamed: 0    TV  radio  newspaper
sales
9.3             3  17.2   45.9       69.3
7.2             6   8.7   48.9       75.0

In [22]:
df2=pd.read_csv('fatal-police-shootings-data.csv',index_col="name")      #Assigning 'name' as index column.
df2

,id,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
name,,,,,,,,,,,,,
Tim Elliot,3,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
Lewis Lee Lembke,4,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
John Paul Quintero,5,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
Matthew Hoffman,8,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
Michael Rodriguez,9,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
William Slyter,5921,2020-06-13,shot,gun,22.0,M,W,Kansas City,MO,False,other,Other,False
TK TK,5922,2020-06-13,shot,undetermined,NaN,M,NaN,San Bernardino,CA,False,attack,Not fleeing,False
Nicholas Hirsh,5924,2020-06-15,shot,gun,31.0,M,W,Lawrence,KS,False,attack,Car,False
TK TK,5926,2020-06-16,shot,gun,24.0,M,NaN,Beach Park,IL,False,attack,Not fleeing,False
TK TK,5927,2020-06-16,shot,gun,27.0,M,NaN,Phoenix,AZ,False,attack,Not fleeing,False

In [21]:
df2.loc["Matthew Hoffman"]         #Extracting all info about this row using loc function

id                                     8
date                          2015-01-04
manner_of_death                     shot
armed                         toy weapon
age                                   32
gender                                 M
race                                   W
city                       San Francisco
state                                 CA
signs_of_mental_illness             True
threat_level                      attack
flee                         Not fleeing
body_camera                        False
Name: Matthew Hoffman, dtype: object

In [32]:
df2.loc['Nicholas Hirsh':]         #Slicing , starting from a particular value to end of dataset.

,id,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
name,,,,,,,,,,,,,
Nicholas Hirsh,5924,2020-06-15,shot,gun,31.0,M,W,Lawrence,KS,False,attack,Car,False
TK TK,5926,2020-06-16,shot,gun,24.0,M,NaN,Beach Park,IL,False,attack,Not fleeing,False
TK TK,5927,2020-06-16,shot,gun,27.0,M,NaN,Phoenix,AZ,False,attack,Not fleeing,False

In [33]:
df2.loc[:'Matthew Hoffman']           #Slicing , starting from 0th index value to a particular value in dataset.

,id,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
name,,,,,,,,,,,,,
Tim Elliot,3,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
Lewis Lee Lembke,4,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
John Paul Quintero,5,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
Matthew Hoffman,8,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False

In [34]:
df2.loc[["Lewis Lee Lembke","Tim Elliot"]]          #Extracting values of two rows together.

,id,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
name,,,,,,,,,,,,,
Lewis Lee Lembke,4,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
Tim Elliot,3,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False

In [38]:
df2.loc["Tim Elliot":"Matthew Hoffman"]          #Extracting all values within a range.

,id,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
name,,,,,,,,,,,,,
Tim Elliot,3,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
Lewis Lee Lembke,4,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
John Paul Quintero,5,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
Matthew Hoffman,8,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False

In [39]:
"Tim Cook" in df2.index             #To know if a value exists in the index or not.

False

In [43]:
df2.iloc[1:4]            #Getting values by index in a range.

,id,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
name,,,,,,,,,,,,,
Lewis Lee Lembke,4,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
John Paul Quintero,5,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
Matthew Hoffman,8,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False

In [44]:
df2.iloc[:3]          #Starting from 0th index to 3rd index.

,id,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
name,,,,,,,,,,,,,
Tim Elliot,3,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
Lewis Lee Lembke,4,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
John Paul Quintero,5,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False

In [46]:
df2.iloc[[2,4]]        #Getting multiple values at index 2 and 4.

,id,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
name,,,,,,,,,,,,,
John Paul Quintero,5,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
Michael Rodriguez,9,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

In [47]:
df2.iloc[2:10:2]         #Starting from 0th index to 10th index with a gap of 2.

,id,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
name,,,,,,,,,,,,,
John Paul Quintero,5,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
Michael Rodriguez,9,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False
Kenneth Arnold Buck,13,2015-01-05,shot,gun,22.0,M,H,Chandler,AZ,False,attack,Car,False
Autumn Steele,16,2015-01-06,shot,unarmed,34.0,F,W,Burlington,IA,False,other,Not fleeing,True

In [51]:
df2.loc["John Paul Quintero","age"]             #If we want to extract value only for a particular column.

23.0

In [56]:
df2.loc["Autumn Steele","date"]             #Extracting date for index "Autumn Steele".

'2015-01-06'

In [55]:
df2.loc["Autumn Steele",["date","age","gender","race"]]   #Extracting a row value for multiple columns.

date      2015-01-06
age               34
gender             F
race               W
Name: Autumn Steele, dtype: object

In [60]:
df2.iloc[2,4]    #Extracting age(index=4) for a row value of index 2.

23.0

In [65]:
df2.iloc[2,1:5]            #Extracting value of 2nd index of row for a range(1-4) of column indexes.

date                     2015-01-03
manner_of_death    shot and Tasered
armed                       unarmed
age                              23
Name: John Paul Quintero, dtype: object

In [66]:
df2.iloc[7,[2,5,8]]      #Extracting values at 7th row index for multiple insexes of columns(2,5,8).

manner_of_death    shot
gender                M
state                KS
Name: Brock Nichols, dtype: object

### Changing or replacing values.

In [68]:
df2.loc["Michael Rodriguez","age"]="16"    #Changing the value of age column for the row having "Michael Rodriguez" index.
df2.head()

,id,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
name,,,,,,,,,,,,,
Tim Elliot,3,2015-01-02,shot,gun,53,M,A,Shelton,WA,True,attack,Not fleeing,False
Lewis Lee Lembke,4,2015-01-02,shot,gun,47,M,W,Aloha,OR,False,attack,Not fleeing,False
John Paul Quintero,5,2015-01-03,shot and Tasered,unarmed,23,M,H,Wichita,KS,False,other,Not fleeing,False
Matthew Hoffman,8,2015-01-04,shot,toy weapon,32,M,W,San Francisco,CA,True,attack,Not fleeing,False
Michael Rodriguez,9,2015-01-04,shot,nail gun,16,M,H,Evans,CO,False,attack,Not fleeing,False

In [71]:
df2.loc["Tim Elliot",["age","city","state"]]=[32,"Paris","US"]   #Changing multiple column values for a row.
df2.head()

,id,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
name,,,,,,,,,,,,,
Tim Elliot,3,2015-01-02,shot,gun,32,M,A,Paris,US,True,attack,Not fleeing,False
Lewis Lee Lembke,4,2015-01-02,shot,gun,47,M,W,Aloha,OR,False,attack,Not fleeing,False
John Paul Quintero,5,2015-01-03,shot and Tasered,unarmed,23,M,H,Wichita,KS,False,other,Not fleeing,False
Matthew Hoffman,8,2015-01-04,shot,toy weapon,32,M,W,San Francisco,CA,True,attack,Not fleeing,False
Michael Rodriguez,9,2015-01-04,shot,nail gun,16,M,H,Evans,CO,False,attack,Not fleeing,False

In [76]:
copy = df2["state"]=="OR"         #Extracting data where 'state' is 'OR'.
df2[copy]

,id,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,name
name,,,,,,,,,,,,,,
Lewis Lee Lembke,4,2015-01-02,shot,gun,47,M,W,Aloha,OR,False,attack,Not fleeing,False,Tim Elliot
Bruce Steward,153,2015-02-15,shot,hatchet,34,M,W,Colton,OR,True,other,Not fleeing,False,Tim Elliot
Andrew Charles Shipley,216,2015-03-17,shot,gun,49,M,W,Medford,OR,True,attack,Not fleeing,False,Tim Elliot
Christopher Ryan Healy,233,2015-03-22,shot and Tasered,knife,36,M,W,Portland,OR,True,other,Foot,False,Tim Elliot
Brian Babb,262,2015-03-30,shot,gun,49,M,W,Eugene,OR,True,attack,Not fleeing,False,Tim Elliot
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
David A. Xanatos,5707,2020-04-02,shot,knife,40,M,W,Lincoln CIty,OR,False,other,Not fleeing,False,Tim Elliot
Matt Goff,5737,2020-04-10,shot,gun,NaN,M,W,Klamath Falls,OR,False,attack,Car,False,Tim Elliot
TK TK,5742,2020-04-11,shot,gun,NaN,M,NaN,Clackamas County,OR,False,attack,NaN,False,Tim Elliot
TK TK,5851,2020-05-28,shot and Tasered,knife,NaN,M,NaN,Washington County,OR,False,other,Not fleeing,True,Tim Elliot
Israel Berry,5852,2020-05-31,shot,undetermined,49,M,W,Portland,OR,False,undetermined,NaN,False,Tim Elliot

In [80]:
df3=df2[copy]        #Putting this new dataframe of 88 rows into a new varibale(df3)
df3["state"]="Delhi"      #Now replacing the values of state from 'OR' to 'Delhi'
df3                #These changes are not saved in original dataset.

<ipython-input-80-57f9b823c5bd>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["state"]="Delhi"      #Now replacing the values of state from 'OR' to 'Delhi'

,id,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,name
name,,,,,,,,,,,,,,
Lewis Lee Lembke,4,2015-01-02,shot,gun,47,M,W,Aloha,Delhi,False,attack,Not fleeing,False,Tim Elliot
Bruce Steward,153,2015-02-15,shot,hatchet,34,M,W,Colton,Delhi,True,other,Not fleeing,False,Tim Elliot
Andrew Charles Shipley,216,2015-03-17,shot,gun,49,M,W,Medford,Delhi,True,attack,Not fleeing,False,Tim Elliot
Christopher Ryan Healy,233,2015-03-22,shot and Tasered,knife,36,M,W,Portland,Delhi,True,other,Foot,False,Tim Elliot
Brian Babb,262,2015-03-30,shot,gun,49,M,W,Eugene,Delhi,True,attack,Not fleeing,False,Tim Elliot
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
David A. Xanatos,5707,2020-04-02,shot,knife,40,M,W,Lincoln CIty,Delhi,False,other,Not fleeing,False,Tim Elliot
Matt Goff,5737,2020-04-10,shot,gun,NaN,M,W,Klamath Falls,Delhi,False,attack,Car,False,Tim Elliot
TK TK,5742,2020-04-11,shot,gun,NaN,M,NaN,Clackamas County,Delhi,False,attack,NaN,False,Tim Elliot
TK TK,5851,2020-05-28,shot and Tasered,knife,NaN,M,NaN,Washington County,Delhi,False,other,Not fleeing,True,Tim Elliot
Israel Berry,5852,2020-05-31,shot,undetermined,49,M,W,Portland,Delhi,False,undetermined,NaN,False,Tim Elliot

In [81]:
df2.loc[copy]             #By using this, changes are saved in the original dataset.

,id,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,name
name,,,,,,,,,,,,,,
Lewis Lee Lembke,4,2015-01-02,shot,gun,47,M,W,Aloha,OR,False,attack,Not fleeing,False,Tim Elliot
Bruce Steward,153,2015-02-15,shot,hatchet,34,M,W,Colton,OR,True,other,Not fleeing,False,Tim Elliot
Andrew Charles Shipley,216,2015-03-17,shot,gun,49,M,W,Medford,OR,True,attack,Not fleeing,False,Tim Elliot
Christopher Ryan Healy,233,2015-03-22,shot and Tasered,knife,36,M,W,Portland,OR,True,other,Foot,False,Tim Elliot
Brian Babb,262,2015-03-30,shot,gun,49,M,W,Eugene,OR,True,attack,Not fleeing,False,Tim Elliot
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
David A. Xanatos,5707,2020-04-02,shot,knife,40,M,W,Lincoln CIty,OR,False,other,Not fleeing,False,Tim Elliot
Matt Goff,5737,2020-04-10,shot,gun,NaN,M,W,Klamath Falls,OR,False,attack,Car,False,Tim Elliot
TK TK,5742,2020-04-11,shot,gun,NaN,M,NaN,Clackamas County,OR,False,attack,NaN,False,Tim Elliot
TK TK,5851,2020-05-28,shot and Tasered,knife,NaN,M,NaN,Washington County,OR,False,other,Not fleeing,True,Tim Elliot
Israel Berry,5852,2020-05-31,shot,undetermined,49,M,W,Portland,OR,False,undetermined,NaN,False,Tim Elliot

In [83]:
df2.loc[copy,"state"]="Delhi"          #Changing the value of state from 'OR' to 'Delhi'. 
df2                    #It has been changes permanantly in dataset.

,id,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,name
name,,,,,,,,,,,,,,
Tim Elliot,3,2015-01-02,shot,gun,32,M,A,Paris,US,True,attack,Not fleeing,False,Tim Elliot
Lewis Lee Lembke,4,2015-01-02,shot,gun,47,M,W,Aloha,Delhi,False,attack,Not fleeing,False,Tim Elliot
John Paul Quintero,5,2015-01-03,shot and Tasered,unarmed,23,M,H,Wichita,KS,False,other,Not fleeing,False,Tim Elliot
Matthew Hoffman,8,2015-01-04,shot,toy weapon,32,M,W,San Francisco,CA,True,attack,Not fleeing,False,Tim Elliot
Michael Rodriguez,9,2015-01-04,shot,nail gun,16,M,H,Evans,CO,False,attack,Not fleeing,False,Tim Elliot
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
William Slyter,5921,2020-06-13,shot,gun,22,M,W,Kansas City,MO,False,other,Other,False,Tim Elliot
TK TK,5922,2020-06-13,shot,undetermined,NaN,M,NaN,San Bernardino,CA,False,attack,Not fleeing,False,Tim Elliot
Nicholas Hirsh,5924,2020-06-15,shot,gun,31,M,W,Lawrence,KS,False,attack,Car,False,Tim Elliot
TK TK,5926,2020-06-16,shot,gun,24,M,NaN,Beach Park,IL,False,attack,Not fleeing,False,Tim Elliot
TK TK,5927,2020-06-16,shot,gun,27,M,NaN,Phoenix,AZ,False,attack,Not fleeing,False,Tim Elliot

## Renaming the names of columns or features

In [84]:
df2.rename(columns={"state":"country","city":"Indian city"})      #We are renaming two columns together using dictonaries.

,id,date,manner_of_death,armed,age,gender,race,Indian city,country,signs_of_mental_illness,threat_level,flee,body_camera,name
name,,,,,,,,,,,,,,
Tim Elliot,3,2015-01-02,shot,gun,32,M,A,Paris,US,True,attack,Not fleeing,False,Tim Elliot
Lewis Lee Lembke,4,2015-01-02,shot,gun,47,M,W,Aloha,Delhi,False,attack,Not fleeing,False,Tim Elliot
John Paul Quintero,5,2015-01-03,shot and Tasered,unarmed,23,M,H,Wichita,KS,False,other,Not fleeing,False,Tim Elliot
Matthew Hoffman,8,2015-01-04,shot,toy weapon,32,M,W,San Francisco,CA,True,attack,Not fleeing,False,Tim Elliot
Michael Rodriguez,9,2015-01-04,shot,nail gun,16,M,H,Evans,CO,False,attack,Not fleeing,False,Tim Elliot
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
William Slyter,5921,2020-06-13,shot,gun,22,M,W,Kansas City,MO,False,other,Other,False,Tim Elliot
TK TK,5922,2020-06-13,shot,undetermined,NaN,M,NaN,San Bernardino,CA,False,attack,Not fleeing,False,Tim Elliot
Nicholas Hirsh,5924,2020-06-15,shot,gun,31,M,W,Lawrence,KS,False,attack,Car,False,Tim Elliot
TK TK,5926,2020-06-16,shot,gun,24,M,NaN,Beach Park,IL,False,attack,Not fleeing,False,Tim Elliot
TK TK,5927,2020-06-16,shot,gun,27,M,NaN,Phoenix,AZ,False,attack,Not fleeing,False,Tim Elliot

In [86]:
df2.rename(index={"Tim Elliot":"Tim Cook","John Paul Quintero":"John Cena"},inplace=True)
df2       #Renaming two index values by giving the index parameter and saving the changes permanantly.

,id,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,name
name,,,,,,,,,,,,,,
Tim Cook,3,2015-01-02,shot,gun,32,M,A,Paris,US,True,attack,Not fleeing,False,Tim Elliot
Lewis Lee Lembke,4,2015-01-02,shot,gun,47,M,W,Aloha,Delhi,False,attack,Not fleeing,False,Tim Elliot
John Cena,5,2015-01-03,shot and Tasered,unarmed,23,M,H,Wichita,KS,False,other,Not fleeing,False,Tim Elliot
Matthew Hoffman,8,2015-01-04,shot,toy weapon,32,M,W,San Francisco,CA,True,attack,Not fleeing,False,Tim Elliot
Michael Rodriguez,9,2015-01-04,shot,nail gun,16,M,H,Evans,CO,False,attack,Not fleeing,False,Tim Elliot
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
William Slyter,5921,2020-06-13,shot,gun,22,M,W,Kansas City,MO,False,other,Other,False,Tim Elliot
TK TK,5922,2020-06-13,shot,undetermined,NaN,M,NaN,San Bernardino,CA,False,attack,Not fleeing,False,Tim Elliot
Nicholas Hirsh,5924,2020-06-15,shot,gun,31,M,W,Lawrence,KS,False,attack,Car,False,Tim Elliot
TK TK,5926,2020-06-16,shot,gun,24,M,NaN,Beach Park,IL,False,attack,Not fleeing,False,Tim Elliot
TK TK,5927,2020-06-16,shot,gun,27,M,NaN,Phoenix,AZ,False,attack,Not fleeing,False,Tim Elliot

In [87]:
df2.loc["John Cena"]         #Extracting info of changed index to confirm the changes.

id                                        5
date                             2015-01-03
manner_of_death            shot and Tasered
armed                               unarmed
age                                      23
gender                                    M
race                                      H
city                                Wichita
state                                    KS
signs_of_mental_illness               False
threat_level                          other
flee                            Not fleeing
body_camera                           False
name                             Tim Elliot
Name: John Cena, dtype: object

In [90]:
df.columns=["Money","Television","Saregama Carvaan","News Paper English"]    #To change all the columns together.
df

       Money  Television  Saregama Carvaan  News Paper English
sales
22.1       1       230.1              37.8                69.2
10.4       2        44.5              39.3                45.1
9.3        3        17.2              45.9                69.3
18.5       4       151.5              41.3                58.5
12.9       5       180.8              10.8                58.4
...      ...         ...               ...                 ...
7.6      196        38.2               3.7                13.8
9.7      197        94.2               4.9                 8.1
12.8     198       177.0               9.3                 6.4
25.5     199       283.6              42.0                66.2
13.4     200       232.1               8.6                 8.7

[200 rows x 4 columns]

## Drop a column or a row

In [91]:
df2.drop(labels="Michael Rodriguez")     #Deleted the row with index "Michael Rodriguez".axis=0 is by default value which is for row.

,id,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,name
name,,,,,,,,,,,,,,
Tim Cook,3,2015-01-02,shot,gun,32,M,A,Paris,US,True,attack,Not fleeing,False,Tim Elliot
Lewis Lee Lembke,4,2015-01-02,shot,gun,47,M,W,Aloha,Delhi,False,attack,Not fleeing,False,Tim Elliot
John Cena,5,2015-01-03,shot and Tasered,unarmed,23,M,H,Wichita,KS,False,other,Not fleeing,False,Tim Elliot
Matthew Hoffman,8,2015-01-04,shot,toy weapon,32,M,W,San Francisco,CA,True,attack,Not fleeing,False,Tim Elliot
Kenneth Joe Brown,11,2015-01-04,shot,gun,18,M,W,Guthrie,OK,False,attack,Not fleeing,False,Tim Elliot
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
William Slyter,5921,2020-06-13,shot,gun,22,M,W,Kansas City,MO,False,other,Other,False,Tim Elliot
TK TK,5922,2020-06-13,shot,undetermined,NaN,M,NaN,San Bernardino,CA,False,attack,Not fleeing,False,Tim Elliot
Nicholas Hirsh,5924,2020-06-15,shot,gun,31,M,W,Lawrence,KS,False,attack,Car,False,Tim Elliot
TK TK,5926,2020-06-16,shot,gun,24,M,NaN,Beach Park,IL,False,attack,Not fleeing,False,Tim Elliot
TK TK,5927,2020-06-16,shot,gun,27,M,NaN,Phoenix,AZ,False,attack,Not fleeing,False,Tim Elliot

In [92]:
df2.drop(["Lewis Lee Lembke","Tim Cook","William Slyter"])    #Deleting multiple rows together.

,id,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,name
name,,,,,,,,,,,,,,
John Cena,5,2015-01-03,shot and Tasered,unarmed,23,M,H,Wichita,KS,False,other,Not fleeing,False,Tim Elliot
Matthew Hoffman,8,2015-01-04,shot,toy weapon,32,M,W,San Francisco,CA,True,attack,Not fleeing,False,Tim Elliot
Michael Rodriguez,9,2015-01-04,shot,nail gun,16,M,H,Evans,CO,False,attack,Not fleeing,False,Tim Elliot
Kenneth Joe Brown,11,2015-01-04,shot,gun,18,M,W,Guthrie,OK,False,attack,Not fleeing,False,Tim Elliot
Kenneth Arnold Buck,13,2015-01-05,shot,gun,22,M,H,Chandler,AZ,False,attack,Car,False,Tim Elliot
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Hannah Fizer,5918,2020-06-13,shot,unarmed,25,F,W,Sedalia,MO,False,other,Not fleeing,False,Tim Elliot
TK TK,5922,2020-06-13,shot,undetermined,NaN,M,NaN,San Bernardino,CA,False,attack,Not fleeing,False,Tim Elliot
Nicholas Hirsh,5924,2020-06-15,shot,gun,31,M,W,Lawrence,KS,False,attack,Car,False,Tim Elliot
TK TK,5926,2020-06-16,shot,gun,24,M,NaN,Beach Park,IL,False,attack,Not fleeing,False,Tim Elliot
TK TK,5927,2020-06-16,shot,gun,27,M,NaN,Phoenix,AZ,False,attack,Not fleeing,False,Tim Elliot

In [93]:
df2.drop(columns="flee",axis=1)        #Dropped the column 'flee'.axis=1 is must to apply it to column otherwise it will apply it for row.

,id,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,body_camera,name
name,,,,,,,,,,,,,
Tim Cook,3,2015-01-02,shot,gun,32,M,A,Paris,US,True,attack,False,Tim Elliot
Lewis Lee Lembke,4,2015-01-02,shot,gun,47,M,W,Aloha,Delhi,False,attack,False,Tim Elliot
John Cena,5,2015-01-03,shot and Tasered,unarmed,23,M,H,Wichita,KS,False,other,False,Tim Elliot
Matthew Hoffman,8,2015-01-04,shot,toy weapon,32,M,W,San Francisco,CA,True,attack,False,Tim Elliot
Michael Rodriguez,9,2015-01-04,shot,nail gun,16,M,H,Evans,CO,False,attack,False,Tim Elliot
...,...,...,...,...,...,...,...,...,...,...,...,...,...
William Slyter,5921,2020-06-13,shot,gun,22,M,W,Kansas City,MO,False,other,False,Tim Elliot
TK TK,5922,2020-06-13,shot,undetermined,NaN,M,NaN,San Bernardino,CA,False,attack,False,Tim Elliot
Nicholas Hirsh,5924,2020-06-15,shot,gun,31,M,W,Lawrence,KS,False,attack,False,Tim Elliot
TK TK,5926,2020-06-16,shot,gun,24,M,NaN,Beach Park,IL,False,attack,False,Tim Elliot
TK TK,5927,2020-06-16,shot,gun,27,M,NaN,Phoenix,AZ,False,attack,False,Tim Elliot

In [95]:
df2.drop(["armed","race","id"],axis=1)      #Deleted three columns together.If we don't pass axis=1 then it will return an error that falues does not exist in axis.

,date,manner_of_death,age,gender,city,state,signs_of_mental_illness,threat_level,flee,body_camera,name
name,,,,,,,,,,,
Tim Cook,2015-01-02,shot,32,M,Paris,US,True,attack,Not fleeing,False,Tim Elliot
Lewis Lee Lembke,2015-01-02,shot,47,M,Aloha,Delhi,False,attack,Not fleeing,False,Tim Elliot
John Cena,2015-01-03,shot and Tasered,23,M,Wichita,KS,False,other,Not fleeing,False,Tim Elliot
Matthew Hoffman,2015-01-04,shot,32,M,San Francisco,CA,True,attack,Not fleeing,False,Tim Elliot
Michael Rodriguez,2015-01-04,shot,16,M,Evans,CO,False,attack,Not fleeing,False,Tim Elliot
...,...,...,...,...,...,...,...,...,...,...,...
William Slyter,2020-06-13,shot,22,M,Kansas City,MO,False,other,Other,False,Tim Elliot
TK TK,2020-06-13,shot,NaN,M,San Bernardino,CA,False,attack,Not fleeing,False,Tim Elliot
Nicholas Hirsh,2020-06-15,shot,31,M,Lawrence,KS,False,attack,Car,False,Tim Elliot
TK TK,2020-06-16,shot,24,M,Beach Park,IL,False,attack,Not fleeing,False,Tim Elliot
TK TK,2020-06-16,shot,27,M,Phoenix,AZ,False,attack,Not fleeing,False,Tim Elliot

In [103]:
city=df2.pop("city")            #Pop function is also used to delete a particular column permanantly.Here you don't need to use inplace=True.
df2         #If you apply pop function on same column twice then it will return an error as it has deleted that column permanantly in the first attempt.

,id,manner_of_death,armed,age,gender,race,signs_of_mental_illness,threat_level,flee,body_camera,name
name,,,,,,,,,,,
Tim Cook,3,shot,gun,32,M,A,True,attack,Not fleeing,False,Tim Elliot
Lewis Lee Lembke,4,shot,gun,47,M,W,False,attack,Not fleeing,False,Tim Elliot
John Cena,5,shot and Tasered,unarmed,23,M,H,False,other,Not fleeing,False,Tim Elliot
Matthew Hoffman,8,shot,toy weapon,32,M,W,True,attack,Not fleeing,False,Tim Elliot
Michael Rodriguez,9,shot,nail gun,16,M,H,False,attack,Not fleeing,False,Tim Elliot
...,...,...,...,...,...,...,...,...,...,...,...
William Slyter,5921,shot,gun,22,M,W,False,other,Other,False,Tim Elliot
TK TK,5922,shot,undetermined,NaN,M,NaN,False,attack,Not fleeing,False,Tim Elliot
Nicholas Hirsh,5924,shot,gun,31,M,W,False,attack,Car,False,Tim Elliot
TK TK,5926,shot,gun,24,M,NaN,False,attack,Not fleeing,False,Tim Elliot
TK TK,5927,shot,gun,27,M,NaN,False,attack,Not fleeing,False,Tim Elliot

In [104]:
del df2["flee"]        #Also used to delete a particular column permanantly.

In [105]:
df2

,id,manner_of_death,armed,age,gender,race,signs_of_mental_illness,threat_level,body_camera,name
name,,,,,,,,,,
Tim Cook,3,shot,gun,32,M,A,True,attack,False,Tim Elliot
Lewis Lee Lembke,4,shot,gun,47,M,W,False,attack,False,Tim Elliot
John Cena,5,shot and Tasered,unarmed,23,M,H,False,other,False,Tim Elliot
Matthew Hoffman,8,shot,toy weapon,32,M,W,True,attack,False,Tim Elliot
Michael Rodriguez,9,shot,nail gun,16,M,H,False,attack,False,Tim Elliot
...,...,...,...,...,...,...,...,...,...,...
William Slyter,5921,shot,gun,22,M,W,False,other,False,Tim Elliot
TK TK,5922,shot,undetermined,NaN,M,NaN,False,attack,False,Tim Elliot
Nicholas Hirsh,5924,shot,gun,31,M,W,False,attack,False,Tim Elliot
TK TK,5926,shot,gun,24,M,NaN,False,attack,False,Tim Elliot
TK TK,5927,shot,gun,27,M,NaN,False,attack,False,Tim Elliot

# End of Data Science Tutorials
# For any query or doubt, drop a mail at sckanina@gmail.com
# Python and Machine Learning Tutorials to be uploaded soon.
# I hope you found it helpful.Thanks  
# Created by :- Saksham